#form {
    background-color: rgb(64, 36, 36);
}

#link-table {
    background-color: rgb(52, 76, 68);
}

#submit.inactive {
    display: none;
}

#edit-button {
    display: none;
}

#edit-button.active {
    display: inline-block;
}

#container-delete-dialog-box {
    width: 100%;
    height: 100vh;
    background-color: aqua ;
    position: absolute;
}

.resume {
    background-color: rgb(41, 51, 31);
}